<!DOCTYPE html>
<html lang="en">
<head>
<title>SUT Smart Irrigation System Backend</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="_css/bootstrap.min.css" />
<link rel="stylesheet" href="_css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="_css/bootstrap-switch.css" />
<link rel="stylesheet" href="_css/colorpicker.css" />
<link rel="stylesheet" href="_css/datepicker.css" />
<link rel="stylesheet" href="_css/uniform.css" />
<link rel="stylesheet" href="_css/select2.css" />
<link rel="stylesheet" href="_css/matrix-style.css" />
<link rel="stylesheet" href="_css/matrix-media.css" />
<link rel="stylesheet" href="_css/bootstrap-wysihtml5.css" />
<link rel="stylesheet" href="_css/custom.css" />
<link href="_font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<script>
function post2soil(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
        }
    }

    document.body.appendChild(form);
    form.submit();
}
</script>
<!--Header-part-->
<div id="header">
  <h1><a href="dashboard.html">Matrix Admin</a></h1>
</div>
<!--close-Header-part-->

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Welcome User</span><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#"><i class="icon-user"></i> My Profile</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="icon-check"></i> My Tasks</a></li>
        <li class="divider"></li>
        <li><a href="login.html"><i class="icon-key"></i> Log Out</a></li>
      </ul>
    </li>
    <li class="dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">Messages</span> <span class="label label-important">5</span> <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a class="sAdd" title="" href="#"><i class="icon-plus"></i> new message</a></li>
        <li class="divider"></li>
        <li><a class="sInbox" title="" href="#"><i class="icon-envelope"></i> inbox</a></li>
        <li class="divider"></li>
        <li><a class="sOutbox" title="" href="#"><i class="icon-arrow-up"></i> outbox</a></li>
        <li class="divider"></li>
        <li><a class="sTrash" title="" href="#"><i class="icon-trash"></i> trash</a></li>
      </ul>
    </li>
    <li class=""><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">Settings</span></a></li>
    <li class=""><a title="" href="login.html"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
  </ul>
</div>

<!--start-top-serch-->
<div id="search">
  <input type="text" placeholder="Search here..."/>
  <button type="submit" class="tip-bottom" title="Search"><i class="icon-search icon-white"></i></button>
</div>
<!--close-top-serch-->

<!--sidebar-menu-->

<div id="sidebar"> <a href="#" class="visible-phone"><i class="icon icon-list"></i>Forms</a>
  <ul>
    <li><a href="dashboard"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
    <li class="submenu"><a href="#"><i class="fa fa-pagelines"></i> <span>รายการฟาร์ม</span><span class="label label-important">4</span></a></a>
      <ul>
        <li><a href="farm">ฟาร์มทั้งหมด</a></li>
        <li><a href="farm/1">ฟาร์มระบบเซ็นเซอร์</a></li>
        <li><a href="farm/2">ฟาร์มระบบน้ำหยด</a></li>
        <li><a href="farm/3">ฟาร์มระบบเซ็นเซอร์ + น้ำหยด</a></li>
      </ul>
    </li>
    <li class="submenu"><a href="#"><i class="icon icon-wrench"></i> <span>จัดการฮาร์ดแวร์</span><span class="label label-important">3</span></a>
      <ul>
        <li><a href="mainpump">รายการปั๊มน้ำ</a></li>
        <li><a href="valve">รายการวาล์วเปิดปิดน้ำ</a></li>
        <li><a href="sensor">รายการเซ็นเซอร์</a></li>
      </ul>
    </li>
    <li class="active"> <a href="soil"><i class="icon icon-user"></i> <span>จัดการประเภทดิน</span></a> </li>
    <li> <a href="plant"><i class="icon icon-user"></i> <span>จัดการประเภทพืช</span></a> </li>
    <li> <a href="user"><i class="icon icon-user"></i> <span>จัดการผู้ใช้งาน</span></a> </li>
  </ul>
</div>

<!--close-left-menu-stats-sidebar-->

<div id="content">
<div id="content-header">
  <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">จัดการฮาร์ดแวร์</a> <a href="#" class="current">รายการปั๊มน้ำ</a> </div>
  <h1>ประเภทดิน</h1>
</div>
<div class="container-fluid">
  <hr>
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
          <div><h5>ประเภทดิน (Soils) <a href="javascript:post2soil('./soil',{})">+</a></h5></div>
        </div>
        <div class="widget-content nopadding">
          <table class="table table-bordered table-striped table-hover data-table text-center">
            <thead class="thead-inverse">
              <tr>
                <th>ประเภทดิน (อังกฤษ)</th>
                <th>ประเภทดิน (ไทย)</th>
                <th>ค่าการอุ้มน้ำได้ของดิน (มิลลิเมตรน้ำ/เซนติเมตรดิน)</th>
                <th>การยอมให้น้ำแก่พืช (เปอร์เซ็นต์)</th>
                <th>แก้ไขล่าสุด</th>
                <th>แก้ไข</th>
                <th>ลบ</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0;i<soils.length;i++) {%>
              <tr class="gradeX">
                <td style="text-align: center;"><%= soils[i].title_eng %></td>
                <td style="text-align: center;"><%= soils[i].title_thai %></td>
                <td style="text-align: center;"><%= soils[i].water_holding_capacity %></td>
                <td style="text-align: center;"><%= soils[i].water_allowance %></td>
                <td style="text-align: center;"><%= soils[i].created_at %></td>

                <td style="text-align: center;"><button class="btn btn-sm btn-warning" onclick="post2soil('soil/edit/<%= soils[i].id %>',{});" href="#">แก้ไข</button>
                  <div class="modal fade" id="editSoilModal" role="dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times</button>
                          <h5 class="modal-title" id="editSoilModalLabel">แก้ไขข้อมูลประเภทดิน</h5>
                        </div>
                        <div class="modal-body">
                          <form action="soil/edit" method="post">
                          <div class="form-group">
                            <label for="soil-id" class="col-form-label">ID</label>
                            <input type="text" class="form-control" id="edit-soil-id" name="edit_soil_id" readonly>
                          </div>
                            <div class="form-group">
                              <label for="soil-title" class="col-form-label">ประเภทดิน (ภาษาอังกฤษ)</label>
                              <input type="text" class="form-control" id="edit-soil-title" name="edit_soil_title" >
                            </div>
                            <div class="form-group">
                              <label for="soil-title" class="col-form-label">ประเภทดิน (ภาษาไทย)</label>
                              <input type="text" class="form-control" id="edit-soil-title2" name="edit_soil_title2" >
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">ค่าการอุ้มน้ำได้ของดิน (มิลลิเมตรน้ำ/เซนติเมตรดิน)</label>
                              <input type="text" class="form-control" id="edit-soil-water-holding-capacity" name="edit_soil_water_holding_capacity">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">การยอมให้น้ำแก่พืช (เปอร์เซ็นต์)</label>
                              <input type="text" class="form-control" id="edit-soil-water-allowance" name="edit_soil_water_allowance">
                            </div>
                            <button type="submit" class="btn btn-primary">บันทึก</button> <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <script>
                  function editSoil(id, title, title2, water_holding_capacity, water_allowance)
                  {
                    $('input#edit-soil-id').val(id);
                    $('input#edit-soil-title').val(title);
                    $('input#edit-soil-title2').val(title2);
                    $('input#edit-soil-water-holding-capacity').val(water_holding_capacity);
                    $('input#edit-soil-water-allowance').val(water_allowance);
                  }
                  </script>
                </td>
                <td style="text-align: center;">
                  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
                  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                  <script src="_js/bootstrap-confirmation.js"></script>
                  <button id="delete_sonsor_<%= soils[i].id %>" class="btn btn-danger" data-toggle="confirmation"
                  data-popout="true"
                  data-btn-ok-label="ลบเลย" data-btn-ok-icon="glyphicon glyphicon-share-alt"
                  data-btn-ok-class="btn-success"
                  data-btn-cancel-label="ยกเลิก" data-btn-cancel-icon="glyphicon glyphicon-ban-circle"
                  data-btn-cancel-class="btn-danger"
                  data-title="ลบข้อมูลประเภทดิน<%= soils[i].title_thai %>?" data-content="">ลบ</button>
                  <script>
                  $('[data-toggle=confirmation]').confirmation({
                    rootSelector: '[data-toggle=confirmation]',
                    onConfirm: function() {
                      post2soil('soil/delete/<%= soils[i].id %>',{});
                    },
                    popout: true
                  });
                  </script>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12"> 2013 &copy; Matrix Admin. Brought to you by <a href="http://themedesigner.in">Themedesigner.in</a> </div>
</div>
<!--end-Footer-part-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script> -->
<script src="_js/jquery.min.js"></script>
<script src="_js/bootstrap.min.js"></script>
<script src="_js/jquery.ui.custom.js"></script>
<script src="_js/bootstrap-colorpicker.js"></script>
<script src="_js/bootstrap-datepicker.js"></script>
<!--<script src="js/jquery.toggle.buttons.js"></script> -->
<script src="_js/masked.js"></script>
<script src="_js/jquery.uniform.js"></script>
<script src="_js/select2.min.js"></script>
<script src="_js/matrix.js"></script>
<script src="_js/matrix.form_common.js"></script>
<script src="_js/wysihtml5-0.3.0.js"></script>
<script src="_js/jquery.peity.min.js"></script>
<script src="_js/bootstrap-wysihtml5.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>
